<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-row" *ngFor="let question of questions">
        <app-question [question]="question" [form]="form"></app-question>
      </div>
      <div class="form-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
    
    <!-- Conditional rendering for payload -->
    <div class="form-row" *ngIf="payLoad">
      <strong>Saved the following values:</strong><br>
      {{ payLoad }}
    </div>
  </div>
  